body{
    background-color: #0d4f93;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100% ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : white;
}

.main {
    background-color:#394d69;
    padding: 35px; 
    box-sizing: border-box;
    margin: 20px; 
    max-width: 500px;

    
  }
  ul{
    text-align: left;
    margin: 0 25px;
    max-width: 350px; 

  }
li::marker {
    color: #0d4f93;
  }
  ul li::marker {
    padding-bottom: 10px;
    padding: 200px 200px;
    color: white;
    margin-bottom: 10px;
    line-height: 1.5;

    
  }
  .ans{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
.ans__btn+.ans__btn{
  margin-top: 20px;
}
.ans__btn {
  padding: 10px 0px;
  transition: background-color 0.3s, transform 0.3s, border 0.3s, color 0.3s;
}

.ans__btn--active {
  border: 2px solid white; 
  color: blue; 
  background-color: lightblue;
}

.ans__btn:active {
  background-color: #ddd; 
  transform: scale(0.98); 
}

.change{
  display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.change__previous{
  background-color: white;
  color: #47a7ff;
  padding: 8px 25px;
}
.change__next{
  background-color: #1890ff;
  color: white;
  padding: 8px 25px;
}
.main__result{
  display: flex;
  flex-direction: row;
}
.main__result__image{
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: scale-down;
  object-position: center;
  margin: auto 20px;
}
.main__result__title{
  text-align: left;
}
h5{
  font-size: 13px;
  font-weight: 400;
}
.btnshare__social{
  padding: 8px;
  background-color: #e9f4ff;
  border: thin;
  color: #1890ff;
}
.btnshare__social+.btnshare__social{
  margin-top: 20px;
}
.cancel{
  display: block;
  margin-top: 20px;
  color: #1890ff;
}
.share{
  background-color:white;
  padding: 35px; 
  box-sizing: border-box; 
  margin: 50px;
  max-width: 500px;
  color:black
}
.btnshare{
  display: flex;
  flex-direction: column;
}
.btnshare :hover{
  background-color: #1890ff;
  color: white;
}
.header{
  color:white;
  margin-top: 50px;
  box-sizing: border-box; 


}
h3{
  font-weight: 500;
  font-size: 16px;
}

.header__title{
  padding: 15px 0px 35px 0px;
  text-transform: uppercase;
  text-align: center;
  border-width: 20px ;
  max-width: 300px;
  text-align: center;
  margin: auto;

}
.login{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}
.login__email{
  margin-bottom: 20px;
  padding: 8px;
}
.login__start{
  cursor: pointer;
  padding: 8px;
  background-color: #1890ff;
  color: white;
  transition: opacity .2s ease;
}
.login__start:hover{
  opacity: 0.8;
}
.login__img{
  filter: invert(100%) brightness(200%);

}
.image{
  margin-top: 20px;
  border-radius: 20px;
  
}
.image__avatar+.image__avatar{
  margin-left: 25px;
}

